@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.bg1 {
    width: 35%;
    height: 100%;
    border-radius: 0 0 47% 47%;
    background-image: linear-gradient(hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    position: absolute;
    left: -100px;
    top: -120px;
    z-index: -10;
}
.bg2 {
    width: 35%;
    height: 100%;
    border-radius:  47% 47% 0 0;
    background-color: #f9f4fa;
    position: absolute;
    right: -120px;
    bottom: -120px;
    z-index: -10;
}
.inner-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
   place-items: center;
}
.div1,.div2 {
    position: relative;
    padding: 50px 20px 10px;
}
.phone {
    width: 250PX;
    max-width: 250px;
    height: 500px;
    max-height: 600px;
    border-radius: 20px;
    background-color: hsl(270, 20%, 96%);
    border: 10px solid white;
    box-shadow: 2px 2px 20px 5px  hsl(206, 6%, 79%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.phone p {
    font-size: 9px;
}
.notch {
    width: 40%;
    height: 3%;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 0 0 10px 10px;
    transform: translateX(-50%);
    z-index: 10;
    background-color: white;
}
.head {
    width: 100%;
    height: 15%;
    background-image: linear-gradient(to left,hsl(293, 100%, 63%),hsl(264, 100%, 61%)) ;
    border-radius: 15px 15px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    color: white;
}
.head p {
    opacity: 0.7;
}
.profile {
    display: flex;
    align-items: center;
}
.profile span {
    margin-right: 5px;
    font-weight: 900;
}
.avtar {
    display: flex;
    align-items: center;
}
.profile img {
    display: inline;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid white;
}
.menu {
    margin: 5px;
}
.menu div {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    margin-top: 3px;
}

.left {
    padding: 5px;
    border-radius: 10px 10px 10px 3px;
    background-color: #ede5f4;
    width: 70%;
    margin: 7px 3px;
}
.left p {
    color: hsl(276, 55%, 52%);
}
.dog-imgs img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
}
.right {
    padding: 8px;
    border-radius: 10px 10px 3px 10px;
    background-color: white;
    margin: 7px 3px;
    color: hsl(271, 15%, 43%);
    display: inline-block;
    
}
.right-msg {
    text-align: right;
}
.rate {
    background-image: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.rate>div {
    display: flex;
    text-align: center;
}
.circle {
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 5px;
}
.rate p {
    color: white;
}

.rate h2 {
    font-size: 18px;
    color: white;
}
.type {
    width: 90%;
    background-color: white;
    height: 40px;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 25px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.send {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: hsl(271, 36%, 24%);
    color: white;
    font-weight: 900;
    display: grid;
    place-items: center;
}
.type p {
    color: hsl(206, 6%, 79%);
}
.div2 {
    padding-top: 40px;
}
.div2 {
    display: grid;
    place-items: center;
}
.div2 div {
    width: 50%;
}
h1 {
    font-weight: 900;
    margin-bottom: 15px;
    color: hsl(271, 36%, 24%);
}
.div2 p{
    color: hsl(270, 7%, 64%);
    line-height: 1.5rem;
}
@media (max-width:650px) {
    body {
        height: auto;
        overflow: visible;
    }
    .inner-container {
        grid-template-columns: 1fr;
    }
    .phone {
        position: relative;
        transform: translateX(-50%);
    }

    .div2 {
        text-align: center;
    }
    .div2 div {
        width: 100%;
    }
    .bg1{
        left: -20px;
        height: 50vh;
        width: 50%;
        top: 0;
    }
    .bg2 {
        right: -20px;
        height: 50vh;
        width: 50%;
        bottom: 0%;
    }
}